.detail__container {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .detail__content {
    width: 80%;
    height: 80%;
    text-align: center;
    border-radius: 15px;
    padding: 1rem;
    background-color: #0087bf;
    margin-top: 1rem;

    align-items: center;
    justify-content: center;

    .detail__figure {
    }

    .detail__text-Wrapper {
      h1 {
        font-size: 1rem;
      }
    }
  }
}
